.bookings {
    h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
  }

  .start-date {
      position: absolute;
      bottom: 50px;
      left: 30px;
      color: white;
      font-size: 15px;
      font-weight: normal;
    }

  .end-date {
      position: absolute;
      bottom: 30px;
      left: 30px;
      color: white;
      font-size: 15px;
      font-weight: normal;
    }

  .cost {
    position: absolute;
    bottom: -30px;
    left: 10px;
    color: $black-color;
    font-size: 14px;
    font-weight: normal;
  }
}


