<div class ="container new-form">
   <div class="contex-form">
      <h1>edit your Sloth</h1>
      <p>lets edit your listing</p>
  </div>
  <%= render 'form', sloth: @sloth %>
  <div class="btn-wrapper">
    <%= link_to 'Back', @sloth, class: "btn-back" %>
  </div>
</div>
