.navbar {
  justify-content: space-between;
  background: white;
  align-items: center;
  padding: 0;

  p {
    margin: 0;
    font-size: 14px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  margin-right: 20px;
  align-self: center;
}

.home {
  font-size: 22px;
}
