.show {

  .show-wrapper {
    display: flex;
    align-items: center;
  }

  .about {
    flex: 1 1 48%;
    text-align: start;
    padding-left: 60px;

    p {
      line-height: 26px;
      font-size: 14px
    }

    .price {
      font-weight: bold;
      margin-bottom: 20px;
    }

    span {
      font-weight: normal;
    }
  }

  .review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;

    .fa-heart {
      font-size: 24px;
      margin: 10px;
    }

    .review-content {
      margin: 0;
    }
  }

  .intro {
    flex: 1 1 48%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  i {
    font-size: 18px;
  }

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    background-color: #262627;
    color: #f5f1ea;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px;
  }
}
